@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  @page { margin: 10mm; size: auto; }
  body > * { display: none !important; }
  #print-work-order-root { display: block !important; }
  #print-work-order-root .tool-card { break-inside: avoid; }
}

@layer base {
  body {
    min-height: max(884px, 100dvh);
  }
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
